<article class="media post">
    <figure class="media-left">
        <p class="image is-64x64">
            <a>
                <img [src]=post.data.thumbnail style="max-width: 100%; max-height: 100%;" (click)="goTo()">
            </a>
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
        <p>
            <a (click)="goTo()" style="color: #363636;">{{ post.data.title }}</a>
            <br>
            <strong><a style="color: #363636;" [routerLink]="['/r', post.data.subreddit]">{{ post.data.subreddit_name_prefixed }}</a></strong><small style="margin-left: 1em;">Posted by {{ post.data.author }}</small>
        </p>
        </div>
        <nav class="level is-mobile">
        <div class="level-left">
            <span><small><a [routerLink]="['/r', post.data.subreddit, 'comments', post.data.id]">Comments</a></small></span>
            <span style="margin-left: 1em;"><small><a><i class="fa fa-arrow-up prs"></i></a>{{ post.data.ups }}</small></span>
            <span style="margin-left: 1em;">
                <small><a [href]="post.data.url">Permalink</a></small>
            </span>
        </div>
        </nav>
    </div>
    <div class="media-right">
        
    </div>
</article>

<ms-detailed-post [hidden]="!showDetailedPost" [state]="state" [post]="post"></ms-detailed-post>