<div class="field">
  <div class="control">
    <input class="input" placeholder="Find a subreddit" #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  </div>
  <ul class="menu-list search-results box notification is-link" 
    [class.search-results-hidden]='results.length === 0' 
    [@showResultAnimation]="state" 
    [hidden]="results.length === 0">

    <button class="delete" (click)="closeSearchResult()"></button>
    <li *ngFor="let sub of results">
        <a href="" [routerLink]="['search/result/r', sub]" class="search-item" routerLinkActive="is-active" (click)="subredditClicked(sub)">
          <strong>r/{{ sub }}</strong>
        </a>
    </li>
    
  </ul>
</div>