.field {
    max-height: 30%;
    height: 0%;
}

.search-results {
    /* background-color: black; */
    /* background-color: white; */
    position: absolute;
    z-index: 5;
    top: 2em;
    left: 26%;
    border-radius: 10px;
    width: 30%; 
}

.search-item {
    /* color: white; */
    /* color: black; */
    padding-left: 2em;
    text-decoration: none !important;
}

.is-active {
    background-color: white !important;
    color: black !important;
}

.search-results-hidden {
    z-index: -1;
}