  <span *ngFor="let comment of comments">
    TODO comments
  </span>

<article class="media">
    <figure class="media-left">
    </figure>
    <div class="media-content">
        <div class="content">
        <p>
            <a (click)="onClickGoTo()">{{ post.data.title }}</a>
            <br>
            <strong>{{ post.data.subreddit_name_prefixed }}</strong><small style="margin-left: 1em;">Posted by {{ post.data.author }}</small>
        </p>
        </div>
        <nav class="level is-mobile">
        <div class="level-left">
            <span>
                <small><a href="" [routerLink]="post.data.permalink">Comments</a></small>
            </span>
            <span style="margin-left: 1em;"><small><a>Ups : {{ post.data.ups }}</a></small></span>
            <span style="margin-left: 1em;">
                <small><a [href]="post.data.url">Permalink</a></small>
            </span>
        </div>
        </nav>
    </div>
    <div class="media-right">

    </div>
</article>