<article class="media" style="padding-top: 1em; padding-bottom: 1em; border-top: 1px solid #e4e6e8;">
    <figure class="media-left">
    </figure>
    <div class="media-content">
        <div class="content">
        <p>
            <small>
                <div [innerHTML]=comment.data.body_html></div>
            </small>
        </p>
    </div>
    <nav class="level is-mobile">
        <div class="level-left">
            <span>
                <small>{{ comment.data.created * 1000 | date }} {{ comment.data.created * 1000 | date:'shortTime' }}</small>
            </span>
            <!-- <span style="margin-left: 1em;"><small><a>Ups : {{ post.data.ups }}</a></small></span> -->
            <span style="margin-left: 1em;">
                <!-- <small><a [href]="post.data.url">Permalink</a></small> -->
            </span>
        </div>
        </nav>
    </div>
    <div class="media-right">

    </div>
</article>

<section style="margin-left: 4em;"> 
    <div *ngFor="let child of comment.data.children">
        <ms-comment [comment]="child"></ms-comment>
    </div>
</section>